<!-- <h1>Employee Table</h1>
<div style="text-align: center">
  <h1>Welcome to our Image Gallery!</h1>
  <button (click)="getData()">Fetch Data</button>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Total Time Worked</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let employee of data"
      [ngClass]="{ 'less-than-100': employee.totalTimeWorked < 100 }"
    >
      <td>{{ employee.EmployeeName }}</td>
      <td>{{ employee.totalTimeWorked }}</td>
    </tr>
  </tbody>
</table> -->
