<!-- <h1>Employee Table</h1>
<router-outlet></router-outlet> -->
<div style="text-align: center">
  <div style="padding: 5px">
    <h1>Welcome to --!</h1>
    <button (click)="getData()">Fetch Data</button>
  </div>

  <table class="center">
    <thead>
      <tr>
        <th>Name</th>
        <th>Total Time Worked</th>
      </tr>
    </thead>
    <tbody>
      <tr
      *ngFor="let employee of employeeTotalTimes" [ngClass]="{ 'highlight-row': isLessThan100Hours(employee.totalTime) }"
      >
        <td style="padding: 5px">{{ employee.EmployeeName }}</td>
        <td style="margin: 5px">{{ employee.totalTime }}</td>
      </tr>
    </tbody>
  </table>
</div>
